fastapi==0.115.0
uvicorn==0.30.0
gunicorn==22.0.0
joblib==1.4.2
numpy==2.1.0
pandas==2.2.2
scikit-learn==1.5.1
openpyxl==3.1.5
python-multipart==0.0.9
opencensus-ext-azure==1.1.13
azure-storage-blob==12.19.0
